@using System.Runtime.InteropServices.JavaScript
<footer>
    <div class="footer-content">
        
        <p>&copy; @DateTime.Now.Year FILMHUB - Seu portal de filmes.</p>
        <p>Descubra, explore e acompanhe seus títulos favoritos.</p>

        <nav>
            <ul>
                <li> <a asp-controller="Home" asp-action="About">Sobre</a></li>
                <li> <a href="https://github.com/CharlesSanto/FILMHUB" target="_blank"><i class="devicon-github-original"></i>Github</a></li>
            </ul>
        </nav>
        
    </div>
</footer>