<footer>
    <div class="footer-content">
        
        <p>&copy; 2025 FILMHUB - Seu portal de filmes.</p>
        <p>Descubra, explore e acompanhe seus títulos favoritos.</p>

        <nav>
            <ul>
                <li> <a>Sobre</a></li>
                <li> <a><i class="devicon-github-original"></i>Github</a></li>
            </ul>
        </nav>
        
    </div>
</footer>