<header>
    <a asp-controller="Home" asp-action="Index"><img class="logo" src="~/img/Filmhub_logo__1_-removebg-preview.png" alt="logo"/></a>
    <nav>
        <ul>
            <li><a>Home</a></li>
            <li><a>Filmes</a></li>
        </ul>
        
        <search>
            <input class="search-movie" type="text"/>
        </search>
    </nav>
    
    <div class="account">

        @{
            var userName = Context.Session.GetString("UserName");
        }

        @if (!string.IsNullOrEmpty(userName))
        {
            <button class="account-name" type="button">
                @userName
            </button>

            <div class="account-logged">
                <form method="post">
                    <button asp-controller="Account" asp-action="Settings">
                        Configurações
                    </button>

                    <button asp-controller="Auth" asp-action="Logout">
                        Sair
                    </button>
                </form>
            </div>

            <img width="70" height="70" src="~/img/temp-profile-photo-removebg-preview.png" />
        }
        else
        {
            <a asp-controller="Auth" asp-action="Login">Entrar</a>
            <a asp-controller="Auth" asp-action="Register">Criar conta</a>
        }
    </div>
    
</header>