<header>
    <a asp-controller="Home" asp-action="Index"><img class="logo" src="~/img/Filmhub_logo__1_-removebg-preview.png" alt="logo"/></a>
    <nav>
        <ul>
            <li><a>Home</a></li>
            <li><a>Filmes</a></li>
        </ul>
        
        <search>
            <input class="search-movie" type="text"/>
        </search>
    </nav>
    
    <div class="account">

        @{
            var userName = Context.Session.GetString("UserName");
        }

        @if (!string.IsNullOrEmpty(userName))
        {
            <button class="account-name" type="button">
                @userName
                <span class="material-symbols-outlined">
                    arrow_drop_down
                </span>
            </button>

            <div class="account-logged">
            
                <a asp-controller="Account" asp-action="Settings" class="account-settings">
                    Configurações
                </a>
                    
                <a asp-controller="Auth" asp-action="Logout"  class="account-logout">
                    Sair
                </a>
            
                @* <form method="post" asp-controller="Auth" asp-action="Logout" style="margin:0;" > *@
                @*     <button type="submit" class="account-logout"> *@
                @*         Sair *@
                @*     </button> *@
                @* </form> *@
            </div>

            <img width="50" height="50" 
                 style="border-radius: 50%; object-fit: cover;" 
                 src="~/img/temp-profile-photo-removebg-preview.png" 
                 alt="Foto de perfil" />
        }
        else
        {
            <div class="login-register">
                <a asp-controller="Auth" asp-action="Login" class="enter-account">Entrar</a>
                <a asp-controller="Auth" asp-action="Register" class="register-account">Criar conta</a>
            </div>
        }
    </div>
    
</header>