<header>
    <a asp-controller="Home" asp-action="Index"><img class="logo" src="~/img/Filmhub_logo__1_-removebg-preview.png" alt="logo"/></a>
    <nav>
        <ul>
            <li><a>Home</a></li>
            <li><a>Filmes</a></li>
        </ul>
        
        <search>
            <input class="search-movie" type="text"/>
        </search>
    </nav>
    
    <div class="account">

        @{
            // Boa prática: Verificar null de forma segura
            var userName = Context.Session.GetString("UserName");
        }

        @if (!string.IsNullOrEmpty(userName))
        {
            <button class="account-name" type="button">
                @userName <span class="material-symbols-outlined">
                    arrow_drop_down
                </span>
            </button>

            @* <div class="account-logged"> *@
            @* *@
            @*     <a asp-controller="Account" asp-action="Settings"> *@
            @*         Configurações *@
            @*     </a> *@
            @* *@
            @*     <hr style="border: 0; border-top: 1px solid #333; margin: 2px 0;"> *@
            @* *@
            @*     <form method="post" asp-controller="Auth" asp-action="Logout" style="margin:0;"> *@
            @*         <button type="submit"> *@
            @*             Sair *@
            @*         </button> *@
            @*     </form> *@
            @* </div> *@

            <img width="50" height="50" 
                 style="border-radius: 50%; object-fit: cover;" 
                 src="~/img/temp-profile-photo-removebg-preview.png" 
                 alt="Foto de perfil" />
        }
        else
        {
            <div>
                <a asp-controller="Auth" asp-action="Login" class="enter-account">Entrar</a>
                <a asp-controller="Auth" asp-action="Register" class="register-account">Criar conta</a>
            </div>
        }
    </div>
    
</header>