<header>
    <a asp-controller="Home" asp-action="Index"><img class="logo" src="~/img/Filmhub_logo__1_-removebg-preview.png" alt="logo"/></a>
    <nav>
        <ul>
            <li><a>Home</a></li>
            <li><a>Filmes</a></li>
        </ul>
        
        <search>
            <input class="search-movie" type="text"/>
        </search>
    </nav>
    
    <div class="account">

        @{
            var userName = Context.Session.GetString("UserName");
        }

        @if (!string.IsNullOrEmpty(userName))
        {
            <div class="dropdown">
                <button class="dropbtn">
                    Usuário
                    <img width="30" height="30" style="border-radius:50%; object-fit:cover;" src="~/img/temp-profile-photo-removebg-preview.png" alt="Avatar"/>
                </button>
                <div class="dropdown-content">
                    <a asp-controller="Account" asp-action="Settings">Configurações</a>
                    <a asp-controller="Auth" asp-action="Logout">Sair</a>
                </div>
            </div>
        }
        else
        {
            <div class="login-register">
                <a asp-controller="Auth" asp-action="Login" class="enter-account">Entrar</a>
                <a asp-controller="Auth" asp-action="Register" class="register-account">Criar conta</a>
            </div>
        }
    </div>
    
</header>