<header>
    <a asp-controller="Home" asp-action="Index"><img class="logo" src="~/img/Filmhub_logo__1_-removebg-preview.png" alt="logo"/></a>
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Home" asp-action="Movies">Filmes</a></li>
        </ul>
        
        <search>
            <input class="search-movie" type="text"/>
        </search>
    </nav>
    
    <div class="dropdown">

        @{
            var userName = Context.Session.GetString("UserName");
        }

        @if (!string.IsNullOrEmpty(userName))
        {
            <div class="dropdown">
                <button class="dropbtn">
                    @userName
                    <img width="50" height="50" style="border-radius:50%; object-fit:cover;" src="~/img/temp-profile-photo-removebg-preview.png" alt="Avatar"/>
                </button>
                <div class="dropdown-content">
                    <a asp-controller="Home" asp-action="FavoritesMovies" class="favorites">Favoritos</a>
                    <a asp-controller="Home" asp-action="Watchlist" class="favorites">Watchlist</a>
                    <a asp-controller="Home" asp-action="Reviews" class="favorites">Reviews</a>
                    <a asp-controller="Account" asp-action="Settings" class="account-settings">Configurações</a>
                    <a asp-controller="Auth" asp-action="Logout" class="account-logout">Sair</a>
                </div>
            </div>
        }
        else
        {
            <div class="login-register">
                <a asp-controller="Auth" asp-action="Login" class="enter-account">Entrar</a>
                <a asp-controller="Auth" asp-action="Register" class="register-account">Criar conta</a>
            </div>
        }
    </div>
    
</header>