<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FILMHUB</title>
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true"/>
    <link rel="stylesheet"  href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet"  href="~/css/login.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true"/>
</head>
<body>

@{
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
}

@if (!(currentController == "Auth" && (currentAction == "Register" || currentAction == "Login")))
{
    @await Html.PartialAsync("_Header") 
}

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@if (!(currentController == "Auth" && (currentAction == "Register" || currentAction == "Login")))
{
    <footer class="border-top footer text-muted">
        <div>
            &copy; 2025 - FILMHUB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
}


@RenderSection("Scripts", required: false)
</body>
</html>