<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FILMHUB</title>
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true"/>
    <link rel="stylesheet"  href="~/css/site.css" asp-append-version="true"/>
</head>
<body>

@{
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
}

@if (!(currentController == "Auth" && currentAction == "Register"))
{
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Auth" asp-action="Register">FILMHUB</a>
            </div>
        </nav>
    </header>
}

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@if (!(currentController == "Auth" && currentAction == "Register"))
{
    <footer class="border-top footer text-muted">
        <div>
            &copy; 2025 - FILMHUB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
}


@RenderSection("Scripts", required: false)
</body>
</html>