<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FILMHUB</title>
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true"/>
    <link rel="stylesheet"  href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet"  href="~/css/login.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true"/>
    <link rel="stylesheet"  href="~/css/about.css" asp-append-version="true"/>
    <link rel="stylesheet"  href="~/css/movies.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/moviesDetails.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/review.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/favorites.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/reviewspage.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/watchlist.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/settings.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/search.css" asp-append-version="true"/>
    
    <link rel="icon" href="~/img/icons8-rolo-de-filme-windows-11-color-32.png"/>
    
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_drop_down" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=info" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=star_rate" />
</head>
<body>

@{
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
}

@if (!(currentController == "Auth" && (currentAction == "Register" || currentAction == "Login")))
{
    @await Html.PartialAsync("_Header") 
}

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@if (!(currentController == "Auth" && (currentAction == "Register" || currentAction == "Login")))
{
    @await Html.PartialAsync("_Footer")
}

<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" 
    async>
</script>

@RenderSection("Scripts", required: false)
</body>
</html>