.about-container {
    width: 100%;
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.about {
    max-width: 800px;
}

.about p {
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
}

.tmdb-credit {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.tmdb-credit img {
    opacity: 0.9;
}
