.favorites-movies {
    width: 100%;
    margin-top: 40px;
}

.favorites-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.favorites-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.favorites-header h1 {
    font-size: 32px;
}

.favorites-header p {
    font-size: 16px;
    font-weight: bold;
}

.movie-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}

.movie-card-favorite {
    width: 200px;
    height: 310px;
    border-radius: 5px;
    overflow: hidden;
}

.movie-image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.movie-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.movie-image:hover img {
    transform: scale(1.08);
}

/* TABLETS */
@media (max-width: 1024px) {
    .movie-card-favorite {
        width: 160px;
        height: 250px;
    }
}

/* CELULARES */
@media (max-width: 600px) {

    .favorites-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .favorites-header h1 {
        font-size: 26px;
    }

    .movie-card-favorite {
        width: 84px;
        height: 165px;
    }
}
