footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #1A1A1A;
    padding: 15px 0;
}

footer  div {
    margin: 0;
}

.footer-content p {
    font-size: 15px;
    font-weight: normal;
    padding: 5px;
}

.footer-content a {
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
}

ul {
    justify-content: center;
}

ul li {
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
}

i {
    margin-right: 4px;
}