.home-container {
    width: 100%;
}

.popular-movies {
    margin: 30px 0; 
}

.home-banner {
    position: relative;
    width: 100%;
    height: 510px;
    margin-top: 30px;
    overflow: hidden;
}

.home-banner img{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: 10px;
}

.home-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 400px;
    position: absolute;
    inset: 0;
    color: #F5F5F5;
    padding-left: 20px;
    padding-bottom: 20px;
    z-index: 2;
}

.banner-title {
    text-align: start;
    font-weight: bolder;
    font-size: 50px;
}

.banner-content p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: start;
    font-weight: normal;
}

.banner-info {
    display: flex;
    background-color: #1A1A1A;
    width: 70%;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #F5F5F5;
    justify-content: center;
    align-items: center;
    gap: 4px;

    transition: transform 0.1s ease,
    background-color 0.1s ease,
    color 0.2s ease;
}

.banner-info:hover {
    background-color: #F5F5F5;
    color: #0D0D0D;
    cursor: pointer;
    transform: scale(1.01);
}

.section-title {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.carousel-wrapper {
    position: relative;
}

.carousel {
    display: flex;
    gap: 12px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-btn {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    border: none;
    color: white;
    font-size: 32px;
    width: 40px;
    height: 234px;
    cursor: pointer;
    z-index: 10;
}

.carousel-btn.left {
    left: 0;
    border-radius: 1px 0;
}

.carousel-btn.right {
    right: 0;
    border-radius: 0 1px;
}

.movie-card {
    width: 160px;
    flex-shrink: 0;
}

.movie-image {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    height: 80%;
}

.movie-image img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.movie-image:hover img {
    transform: scale(1.08);
}

.movie-title {
    font-size: 12px;
    text-align: center;
}
