.form-login {
    width: 600px;
    display: flex;
    flex-direction: column;
    color: #F5F5F5;
    background-color: #1A1A1A;
    padding: 40px 40px 20px 40px;
    border-radius: 10px;
}

.login {
    font-size: 20px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    background-color: #E50914;
    color: #F5F5F5;
    font-weight: bold;
}

.login:hover {
    background-color: #B00710;
}


.forgotten-password {
    text-align: end;
    font-size: small;
}