.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
}

.login-container div {
    margin-top: 20px;
}

.form-login {
    width: 600px;
    display: flex;
    flex-direction: column;
    color: #F5F5F5;
    background-color: #1A1A1A;
    padding: 40px 40px 30px 40px;
    border-radius: 10px;
}

.logo-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    font-size: 20px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    background-color: #E50914;
    color: #F5F5F5;
    font-weight: bold;
}

.login:hover {
    background-color: #B00710;
}

.forgotten-password {
    font-size: small;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

.login-to-register {
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
}