.movie-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;
}
hr {
    padding: 1px;
    margin: 20px 0;
    background-color: #1A1A1A;
    border-radius: 1px;
}

.details-banner {
    position: relative;
    width: 100%;
    height: 275px;
    margin-top: 30px;
    overflow: hidden;
}

.details-banner img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

.details-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    border-radius: 10px;
}

.details-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 470px;
    position: absolute;
    inset: 0;
    color: #F5F5F5;
    padding-left: 20px;
    padding-bottom: 20px;
    z-index: 2;
    gap: 25px;
}

.details-title {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.certification {
    padding: 4px;
    margin-right: 4px;
    border-radius: 4px;
    font-weight: bold;
}

.age-L {
    background-color: #2ecc71;
    color: #F5F5F5;
}

.age-10 {
    background-color: #3498db;
    color: #F5F5F5;
}

.age-12 {
    background-color: #f1c40f;
    color: #F5F5F5;
}

.age-14 {
    background-color: #e67e22;
    color: #F5F5F5;
}

.age-16 {
    background-color: #e74c3c;
    color: #F5F5F5;
}

.age-18 {
    background-color: black;
    color: #F5F5F5;
}

.review-section {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

.review-section img {
    border-radius: 10px;
}

.login-to-review {
    display: flex;
    margin: 20px 20px 20px 60px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login-to-review a{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 25px;
    margin-bottom: 30px;
    background: #1A1A1A;
    color: #F5F5F5;
    border-radius: 5px;
    font-weight: bold;
}

.login-to-review a:hover{
    text-decoration: none;
}

.login-to-review p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-to-review p {
    align-items: center;
    font-size: 20px;
}

.login-to-review span {
    color: yellow;
    font-weight: bold;
}

.sinopse {
    width: 80%;
    margin: 20px 0;
    text-align: justify;
    line-height: 150%;
}

.sinopse h2 {
    margin-bottom: 20px;
}

.trailer {
    width: 100%;
    height: 440px;
    margin: 20px 0;
}

.trailer h2 {
    margin-bottom: 20px;
}

.trailer iframe {
    border: none;
    border-radius: 10px;
}

















