.pf-page {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 4px;
    margin-top: 24px;
}

.pf-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pf-user {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.pf-avatar {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.pf-user-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pf-username {
    font-size: 18px;
    font-weight: 700;
}

.pf-edit {
    padding: 4px 8px;
    background-color: #F5F5F5;
    color: #0d0d0d;
    font-weight: bold;
    font-size: 10px;
    border-radius: 3px;
    width: fit-content;
}

.pf-stats {
    display: flex;
    gap: 10px;
    font-size: 10px;
}

.pf-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-weight: bold;
}

.pf-divider {
    width: 2px;
    background-color: #1A1A1A;
}

.pf-updates h2{
    font-size: 14px;
}

.pf-movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.pf-movie-card {
    aspect-ratio: 2 / 3;
}

.pf-reviews h2{
    font-size: 14px;
}

.pf-movie-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.pf-review-card {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 14px;
    background-color: #141414;
    border-radius: 12px;
    padding: 14px;
    margin-bottom: 24px;
}

.pf-review-poster img {
    width: 100%;
    border-radius: 6px;
}

.pf-review-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pf-review-title {
    font-size: 12px;
    font-weight: 600;
}

.pf-review-meta {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.pf-stars {
    display: flex;
    gap: 4px;
}

.pf-star {
    font-size: 16px;
    color: #555;
}

.pf-star-filled {
    color: #f5c518;
}

.pf-review-date {
    font-size: 10px;
    color: #9e9e9e;
}

.pf-review-text {
    font-size: 12px;
    line-height: 1.5;
    color: #cfcfcf;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* TABLET */
@media (min-width: 768px) {

    .pf-page {
        max-width: 1000px;
        margin: 40px auto 0;
        padding: 20px;
    }

    .pf-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .pf-username {
        font-size: 25px;
    }
    
    .pf-edit {
        padding: 4px 8px;
        font-size: 16px;
    }

    .pf-avatar {
        width: 130px;
        height: 130px;
    }
    .pf-stats {
        font-size: 20px;
    }
    
    .pf-updates h2 {
        font-size: 22px;
    }

    .pf-movie-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .pf-reviews h2 {
        font-size: 22px;
    }

    .pf-review-card {
        grid-template-columns: 120px 1fr;
        gap: 20px;
    }
    
    .pf-review-text {
        font-size: 18px;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {

    .pf-avatar {
        width: 180px;
        height: 180px;
    }

    .pf-movie-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .pf-review-title {
        font-size: 18px;
    }

    .pf-star {
        font-size: 22px;
    }
}
