.form-createuser {
    width: 600px;   
    display: flex;
    flex-direction: column;
    color: #F5F5F5;
    background-color: #1A1A1A;
    padding: 40px;
    border-radius: 10px;
}

.title-createuser {
    font-size: 40px;
    color: #F5F5F5;
}

div {
    margin-top: 20px;
}

input {
    width: 100%;
    height: 50px;
    padding: 8px;
    margin-top: 7px;
    margin-bottom: 5px;
    background-color: rgba(13, 13, 13, 0.8);
    border-radius: 5px;
    border: transparent;
    color: white;
    font-size: 20px;
}

input:focus {
    background-color: rgba(13, 13, 13, 0.8);
    color: #F5F5F5;
    border: none;
}

.register {
    font-size: 20px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    background-color: #E50914;
    color: #F5F5F5;
    font-weight: bold;
}

.register:hover {
    background-color: #B00710;
}

p {
    color: #F5F5F5;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #F5F5F5;
}

a:hover {
    text-decoration: underline;
}

.validation-error {
    color: red;
    font-size: 0.9rem;
}