.user-reviews-page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
    margin-top: 40px;
    color: #F5F5F5;
}

.page-title {
    font-size: 28px;
    font-weight: 700;
}

.movie-review-card {
    background-color: transparent;
    border-radius: 12px;
    padding: 16px;
    width: 100%;
    height: 250px;
}

.movie-info {
    display: flex;
    gap: 20px;
    height: 100%;
}

.movie-poster {
    width: 180px;
    height: 255px;
    border-radius: 8px;
    flex-shrink: 0;
    object-fit: cover;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.movie-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.review-card {
    background-color: #141414;
    border-radius: 12px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.review-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.review-notas {
    font-weight: 600;
    color: #f5c518;
}

.review-data {
    font-size: 0.85rem;
    color: #9e9e9e;
}

.review-comment {
    min-width: 100%;
    height: 130px;
    font-size: 14px;
    line-height: 1.5;
    color: #F5F5F5;
    word-break: break-word;
}