.user-reviews-page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
    margin-top: 40px;
    color: #F5F5F5;
}

.user-reviews-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-reviews-header p {
    font-size: 16px;
    font-weight: bold;
}

.page-title {
    font-size: 28px;
    font-weight: 700;
}

.hr-review {
    padding: 1px;
    margin-top: 35px;
    background-color: #1A1A1A;
    border-radius: 1px;
}

.movie-review-card {
    background-color: transparent;
    border-radius: 12px;
    padding: 16px;
    width: 100%;
    height: 250px;
}

.movie-info {
    display: flex;
    gap: 20px;
    height: 100%;
}

.movie-poster {
    width: 180px;
    height: 255px;
    border-radius: 8px;
    flex-shrink: 0;
    object-fit: cover;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.movie-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.review-card {
    background-color: transparent;
    border-radius: 12px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.review-header {
    display: flex;
    align-items: center;
    gap: 35px;
}

.stars {
    font-size: 30px;
    color: #555;
}

.stars.filled {
    color: #f5c518;
}

.review-data {
    font-size: 0.85rem;
    color: #9e9e9e;
}

.review-comment {
    padding-top: 10px;
    min-width: 100%;
    height: 150px;
    font-size: 16px;
    line-height: 1.5;
    color: #F5F5F5;
    font-weight: normal;
    
    white-space: pre-wrap;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}