.account-page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
}

.account-title {
    font-size: 20px;
}

.account-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.account-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.account-section {
    font-size: 20px;
    margin-bottom: 8px;
}

.account-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.account-input {
    background: #1A1A1A;
    border: none;
    border-radius: 6px;
    padding: 10px;
    color: #F5F5F5;
    width: 100%;
}

.account-input:focus {
    outline: none;
}

.account-error {
    font-size: 14px;
    color: #ff6b6b;
}

.account-btn-main {
    margin-top: 10px;
    background: #F5F5F5;
    color: #1A1A1A;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}

.account-danger {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.account-btn-danger {
    background: darkred;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}

.account-btn-cancel {
    background: #F5F5F5;
    color: #1A1A1A;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}

.account-btn-delete {
    width: 100%;
    background: darkred;
    color: #F5F5F5;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}

.account-dialog {
    border: none;
    border-radius: 12px;
    padding: 24px;
    background: #0D0D0D;
    color: white;
    width: 90%;
    max-width: 420px;
    margin: auto;
}

.account-dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

.account-dialog-actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.account-dialog h1 {
    font-size: 16px;
    margin-bottom: 12px;
}

.account-dialog p{
    font-size: 12px;
    line-height: 24px;
}

/* TABLET */
@media (min-width: 768px) {
    .account-layout {
        grid-template-columns: 1fr 1fr;
    }
    
    .account-dialog h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    .account-dialog p{
        font-size: 16px;
        line-height: 24px;
    }
    
    .account-btn-danger {
        width: 20%;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {
    .account-page {
        max-width: 1100px;
        margin: 40px auto;
    }
}
