* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #0D0D0D;
  color: white;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 300px;
  margin-bottom: 40px;
}