* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #0D0D0D;
  color: white;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 0 20px;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1400px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}