* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: #0D0D0D;
  color: white;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: 60px;
  background-color: white;
}

.container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  height: 60px;
  background-color: white;
}