.watchlist-container {
    width: 100%;
    margin-top: 35px;
}

.watchlist-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.watchlist-header p {
    font-size: 16px;
    font-weight: bold;
}

.watchlist-movie {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.watchlist-card {
    width: 200px;
    height: 310px;
    background-color: #1A1A1A;
    border-radius: 10px;
    overflow: hidden;
}

.watchlist-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.watchlist-card:hover img {
    transform: scale(1.08);
}

/* TABLETS  */
@media (max-width: 1024px) {
    .watchlist-movie {
        justify-content: center;
    }

    .watchlist-card {
        width: 160px;
        height: 250px;
    }
}

/* CELULARES */
@media (max-width: 600px) {

    .watchlist-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .watchlist-card {
        width: 140px;
        height: 220px;
    }

    .watchlist-movie {
        justify-content: center;
    }
}
