.watchlist-container {
    min-width: 100%;
    min-height: 100%;
    margin-top: 35px;
}

.watchlist-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.watchlist-header p {
    font-size: 16px;
    font-weight: bold;
}