@model FILMHUB.DTO.RegisterDto

@{
    ViewData["Title"] = "Register";
}

<div class="register-container">
    
    <a class="logo-register" asp-controller="Home" asp-action="Index"><img width="300" src="~/img/Filmhub_logo__1_-removebg-preview.png"/></a>

    <div class="form-createuser">
        <h2 class="title-createuser">Criar conta</h2>
    
        <form asp-action="Register" method="post" id="registerForm" novalidate="novalidate">
        
            <div>
                <label asp-for="Name">Nome</label> <br/>
                <input asp-for="Name" type="text"/>
                <span asp-validation-for="Name" class="validation-error" id="nameError"></span>
            </div>
            <div>
                <label asp-for="Email"></label> <br/>
                <input asp-for="Email"/>
                <span asp-validation-for="Email" class="validation-error" id="emailError"></span>
            </div>
            <div>
                <label asp-for="Password">Senha</label> <br/>
                <input asp-for="Password" type="password"/>
                <span asp-validation-for="Password" class="validation-error" id="passwordError"></span>
            </div>
            <div>
                <label asp-for="ConfirmPassword">Confirmar senha</label> <br/>
                <input asp-for="ConfirmPassword" type="password"/>
                <span asp-validation-for="ConfirmPassword" class="validation-error" id="confirmPasswordError"></span>
            </div>

            <button class="register" type="submit">Criar conta</button>
        </form>
    
        <p class="register-to-login">Já tem uma conta? <a asp-controller="Auth" asp-action="Login">Entrar</a></p>
    
    </div>
    
</div>

@section Scripts {
    <script src="~/js/validation.js"></script>
}
