@model FILMHUB.DTO.UpdateUserDto;

@{
    ViewData["Title"] ="Configurações";
}

<div class="settings-container">
    <h1>Configurações</h1>
    
    <hr/>
    
    <div class="settings-content">
        
        
        
        <form method="post" asp-controller="Auth" asp-action="Settings" class="settings-form" novalidate>
            
            <h2>Perfil</h2>
            
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-input"/>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" class="form-input"/>
                <span asp-validation-for="Email" class="validation-error"></span>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-primary">Salvar mudanças</button>
            </div>

        </form>
        
        <form method="post" asp-controller="Auth" asp-action="Settings" class="settings-form">

            <h2>Alterar senha</h2>
            
            <div class="form-group">
                <label asp-for="CurrentPasswordd">Senha atual</label>
                <input asp-for="CurrentPasswordd" type="password" class="form-input"/>
                <span asp-validation-for="CurrentPasswordd" class="validation-error"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Password">Senha</label>
                <input asp-for="Password" type="password" class="form-input"/>
                <span asp-validation-for="Password" class="validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirmar senha</label>
                <input asp-for="ConfirmPassword" type="password" class="form-input"/>
                <span asp-validation-for="ConfirmPassword" class="validation-error"></span>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-primary">Salvar mudanças</button>
            </div>

        </form>
        
    </div>
    
</div>

@section Scripts {
    <script src="~/js/validation.js"></script>
}