@model FILMHUB.DTO.UpdateUserDto;

@{
    ViewData["Title"] ="Configurações";
}

<div class="settings-container">
    <h1>Configurações</h1>
    
    <hr/>
    
    <div class="settings-content">
        
        
        
        <form method="post" asp-controller="Auth" asp-action="Settings" class="settings-form" novalidate>
            
            <h2>Perfil</h2>
            
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-input"/>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" class="form-input"/>
                <span asp-validation-for="Email" class="validation-error"></span>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-primary">Salvar mudanças</button>
            </div>

        </form>
        
        <form method="post" asp-controller="Auth" asp-action="Settings" class="settings-form">

            <h2>Alterar senha</h2>
            
            <div class="form-group">
                <label asp-for="CurrentPassword">Senha atual</label>
                <input asp-for="CurrentPassword" type="password" class="form-input"/>
                <span asp-validation-for="CurrentPassword" class="validation-error"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Password">Senha</label>
                <input asp-for="Password" type="password" class="form-input"/>
                <span asp-validation-for="Password" class="validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirmar senha</label>
                <input asp-for="ConfirmPassword" type="password" class="form-input"/>
                <span asp-validation-for="ConfirmPassword" class="validation-error"></span>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-primary">Salvar mudanças</button>
            </div>

        </form>
        
    </div>
    
    <hr/>
    
    <div>
        <div class="danger-zone">
            <h2>Zona de perigo</h2>
            <p>Essa ação é permanente e não pode ser desfeita.</p>

            <button id="btn-danger" class="btn-danger">
                Deletar minha conta
            </button>
            
        </div>
    </div>
    
    <dialog id="delete-user" class="delete-user">
        
        <h1>Excluir conta</h1>
        
        <p>Tem certeza de que deseja excluir sua conta? <br/> Esta ação é permanente e não poderá ser desfeita.</p>
        
        <div class="dialog-actions">
            <button id="btn-cancel" class="btn-cancel">
                Cancelar
            </button>
            <form method="post" asp-action="DeleteUser">
                <button class="btn-deleter">
                    Deletar minha conta
                </button>
            </form>
            
        </div>
        
    </dialog>
    
</div>

@section Scripts {
    <script src="~/js/validation.js"></script>
    
    
    <script>
        const deleteusermodal = document.getElementById('delete-user');
        const btndanger = document.getElementById('btn-danger');
        const btnCancel = document.getElementById('btn-cancel');

        btndanger.addEventListener('click', () => deleteusermodal.showModal())
        btnCancel.addEventListener('click', () => deleteusermodal.close())
        
    </script>
}