@{
    ViewData["Title"] = "Sobre";
}

<div class="about-container">
    
    <section class="about">
        <h2>About FILMHUB</h2>

        <p>
            FILMHUB is a personal movie catalog application that allows users to
            discover, explore, and track their favorite films.
        </p>

        <h2>Credits</h2>

        <div class="tmdb-credit">
            <img src="~/img/logotmdb.svg" alt="TMDB Logo" width="300"/>

            <p>
                This product uses the TMDB API but is not endorsed or certified by TMDB.
            </p>
        </div>
    </section>
    
</div>